extends ../layouts/common
block content
	h1 Users
	form(action='/users/search', method='GET', clas='d-flex')
		input(type='text',name='q', value=q, class='form-control')
		button(class='btn btn-primary ml-2') Search
	ul
		each user in users
			li
				span= user.name
				span &nbsp;
				a(href='/users/' + user.id) View
	a(href='/users/create') Create user